{{ define "main" }}
  <ul>
    {{ range .Data.Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <dl>
          <dt>Link to the brand page</dt><dd><a href="{{ .Permalink }}">{{ .Permalink }}</a></dd>
          <!-- Handling brands that don't have a corresponding page by using .With -->
          {{ with .Params.website }}
            <dt>Website</dt><dd>{{ . }}</dd>
          {{ end }}
          {{ with .Params.description }}
            <dt>Description</dt><dd>{{ . }}</dd>
          {{ end }}
          <!-- Handling brands that don't have a corresponding page by usinf an if statement -->
          <dt>Logo</dt>
          <dd>
          {{ if ne .Params.logo nil }}
            <img src="{{ .Params.logo }}" height="90" />
          {{ else }}
            <img src="http://via.placeholder.com/90x90?text=No+logo" height="90" />
          {{ end }}
          </dd>
        </dl>
      </li>
    {{ end }}
  </ul>

  <h2>List all relevant taxonomies and all the pages that belong to it</h2>
  <ul>
    {{ range .Data.Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ $brand := .Title | urlize }}
        <ul>
          {{ range ($.Site.GetPage "taxonomyTerm" "brands" $brand).Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}
