{{ define "main" }}
  <ul>
    {{ range .Data.Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <h3>{{ .Title }}</h3>
        <dl>
          <dt>Link to the brand page</dt><dd><a href="{{ .Permalink }}">{{ .Permalink }}</a></dd>
          <dt>Website</dt><dd>{{ .Params.website }}</dd>
          <dt>Description</dt><dd>{{ .Params.description }}</dd>
          <dt>Logo</dt><dd><img src="{{ .Params.logo }}" height="90" /></dd>
        </dl>
      </li>
    {{ end }}
  </ul>
{{ end }}
